{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Builds for {{active_device.model}}</h4>
                <a href="/{{active_device.model}}/changes/">Recent changes</a>
                <div class="scrollable-table">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Version</th>
                                <th>File</th>
                                <th>Size</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rom in roms %}
                            <tr>
                                <td>{{rom.romtype}}</td>
                                <td>{{rom.version}}</td>
                                <td>
                                    <a href="{{rom.url}}">{{rom.filename}}</a> <br /><small>md5sum: {{rom.md5sum}}</small>
                                </td>
                                <td>{% if rom.romsize %} {{'%0.2f'| format(rom.romsize/1024/1024|float)}} {% else %} 0.00 {% endif %} MB</td>
                                <td>{{rom.datetime.strftime("%Y-%m-%d %H:%M:%S %Z")}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
